/* General Styles for Hero Image Section */
.nav-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 40px 5%;
}

.image-text {
  text-align: right;
  color: white;
  z-index: 2;
  padding-bottom: 20px;
  margin-top: 15rem;
}

.text1 {
  font-size: 2rem;
  opacity: 0.8;
  animation: fadeIn 2s ease-out;
}

.text2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: slideIn 2.5s ease-out;
}

/* Background Images for Each Section */
#india {
  background-image: url("../images/hero/main3.jpg");
}

#delhi {
  background-image: url("../images/hero/Delhimain.jpg");
}

#kolkata {
  background-image: url("../images/hero/Kolkatamain.jpg");
}

#shimla {
  background-image: url("../images/hero/Shimlamain.jpg");
}

/* Unique Styles for Journey Pages */
#heritage {
  background-image: url("../images/journey/heritage.jpg");
}

#culture {
  background-image: url("../images/journey/culture.jpg");
}

#museum {
  background-image: url("../images/journey/museum.jpg");
}

#architecture {
  background-image: url("../images/journey/architecture.jpg");
}

#nature {
  background-image: url("../images/journey/nature.jpg");
}

#spiritual {
  background-image: url("../images/journey/spiritual.jpg");
}

/* Specific Text Adjustments for Each Section */
#heritage .image-text,
#culture .image-text,
#museum .image-text,
#architecture .image-text,
#nature .image-text,
#spiritual .image-text {
  text-align: center;
  margin-top: 14rem;
}

#heritage .text2,
#culture .text2,
#museum .text2,
#architecture .text2,
#nature .text2,
#spiritual .text2 {
  font-size: 7.5rem;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
