/* Hero Image Section */
.nav-image {
  
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 40px 5%;
}

#india{
  background-image: url("../images/hero/main3.jpg");
}

#delhi{
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/hero/Delhimain.jpg");
}

#kolkata{
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/hero/Kolkatamain.jpg");
}

#shimla{
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/hero/Himachalmain.jpg");
}

.image-text {
  text-align: right;
  color: white;
  z-index: 2;
  padding-bottom: 20px;
  margin-top: 15rem;
}

.text1 {
  font-size: 2rem;
  opacity: 0.8;
  animation: fadeIn 2s;
}

.text2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: slideIn 2.5s;
}

/* Search Bar */
.img-searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  margin-top: 20px;
}

#search {
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 200px;
  height: 50px;
  border: none;
  padding-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

#search:focus {
  width: 300px;
}

.search-icon {
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search-icon i {
  font-size: 1.5rem;
}

/* Website Agenda */
.website-agenda {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10rem; /* Adds space below the search bar */
  padding-right: 0.05%; /* Keeps the agenda aligned to the right */
}

.website-agenda-texts {
  display: flex;
  gap: 30px; /* Adds space between agenda items */
  color: white;
}

.agenda-item {
  display: flex;
  align-items: center;
}

.agenda-icon {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 10px; /* Creates space between icon and text */
}

.agenda-text p {
  font-size: 1rem;
  opacity: 0.9;
  max-width: 20rem;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
