/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 5%; /* Reduced padding for smaller height */
  position: fixed;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-logo {
  background-image: url("../images/logos/spotwander-white-logo.png");
  background-size: cover;
  width: 130px; /* Reduced logo width */
  height: 40px;  /* Reduced logo height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist ul {
  display: flex;
  align-items: center;
}

.navlist ul li {
  list-style: none;
  margin: 0 15px;
  position: relative; /* For dropdown positioning */
  display: flex;
  align-items: center;
}

.navlist ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  margin: 1rem; /* Reduced margin for smaller height */
  cursor: pointer;
}

.navlist ul li a:hover {
  text-decoration: underline;
}

.navlist ul li i {
  font-size: 1.9rem;
  color: white;
}

/* Dropdown Styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  list-style-type: none;
  width: 150px;
  padding: 0;
  margin: 0;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  transition: background-color 0.3s ease;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding: 15px;
}

.dropdown-menu li:hover {
  background-color: rgba(215, 215, 215, 0.484);
}

/* Show dropdown on hover */
.navlist ul li:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.navlist ul li .dropdown-menu {
  opacity: 0;
  visibility: hidden;
}
